<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.breadfish64.usbaudiosink">

    <uses-feature android:name="android.hardware.usb.accessory" android:required="true"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".UsbAudioSink"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsbAudioSink">
        <activity android:name=".LaunchServiceActivity" android:label="@string/app_name"
            android:launchMode="singleInstance" android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <service android:name=".MainService" android:process=":mainServiceProcess">
        </service>

    </application>
</manifest>